# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{js,json,ts,css,html}]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = false
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
