<md-toolbar color="primary">
	<span></span>

	<span class="example-fill-remaining-space">ngEO Download Manager</span>

	<span *ngIf="(_username !== null) && (_router.url.indexOf('settings') === -1)">
		<button md-icon-button [mdMenuTriggerFor]="menu">
			<md-icon>more_vert</md-icon>
		</button>
		<md-menu #menu="mdMenu">
			<button md-menu-item disabled>
				<span>Welcome {{_username}}</span>
			</button>
			<button md-menu-item [routerLink]="['/login']">
				<md-icon>account_box</md-icon>
				<span>Login</span>
			</button>
			<button md-menu-item [routerLink]="['/settings']">
				<md-icon>settings</md-icon>
				<span>Settings</span>
			</button>
			<button md-menu-item [routerLink]="['/downloadManagers']">
				<md-icon>cloud_download</md-icon>
				<span>Download managers</span>
			</button>
			<button md-menu-item [routerLink]="['/search']">
				<md-icon>search</md-icon>
				<span>Search</span>
			</button>
			<button md-menu-item [routerLink]="['']">
				<md-icon>exit_to_app</md-icon>
				<span>Logout</span>
			</button>
		</md-menu>
	</span>
</md-toolbar>
