<md-card class="darstatus" *ngFor="let darStatus of darStatuses | async">
    <md-card-header>
        <md-card-title>
            {{darStatus.type + ' : ' + darStatus.ID}}
        </md-card-title>
        <md-card-subtitle>{{darStatus.productStatuses.length}} product<span *ngIf="darStatus.productStatuses.length>1">s</span></md-card-subtitle>
        <md-button-toggle-group class="menu-actions" [(ngModel)]="darStatus.status">
            <md-button-toggle value="0">
            <md-icon>stop</md-icon>
            </md-button-toggle>
            <md-button-toggle value="5" *ngIf="darStatus.status!=0">
            <md-icon>pause</md-icon>
            </md-button-toggle>
            <md-button-toggle value="10">
            <md-icon>play_arrow</md-icon>
            </md-button-toggle>
        </md-button-toggle-group>
    </md-card-header>
    <md-card-content>
        <md-card class="productstatus" *ngFor="let product of darStatus.productStatuses">
           <md-card-header>
                <md-icon md-card-avatar>file_download</md-icon> 
                <md-card-title>{{product.productURL}}</md-card-title>
                <md-card-subtitle> Expected size : {{product.expectedSize}}</md-card-subtitle>
           </md-card-header>
           <md-card-footer>
                <md-progress-bar color="primary" mode="determinate" [value]="product.percentageCompleted" bufferValue="75"></md-progress-bar>
            </md-card-footer>
        </md-card>
    </md-card-content>
</md-card>
