md-card.productstatus {
    box-shadow:none;
    background-color: #EFEFEF;
    h4 {
        word-break: break-all;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}
.menu-actions {
    position:absolute;
    right:5px;
    top:5px;
}