<md-card class="login">
    <md-card-content>
        <md-grid-list cols="3">
            <md-grid-tile>
                <md-icon class="illus" color="primary">cloud_download</md-icon>
            </md-grid-tile>
            <md-grid-tile colspan="2">
                <p>
                <md-input-container class="full-width">
                    <input mdInput [(ngModel)]="username" placeholder="Username" required>
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput type="password" [(ngModel)]="password" placeholder="Password" required>
                </md-input-container>
                <button md-raised-button color="primary" class="full-width" (click)="login()" [disabled]="!isValidForm()">Login</button>
                </p>
            </md-grid-tile>
        </md-grid-list>
    </md-card-content>
</md-card>
