<md-nav-list class="downloadmanagers" *ngIf="!formAdd">
    <a md-list-item *ngFor="let downloadManager of downloadManagers" [routerLink]="['/downloadManagers', downloadManager.downloadManagerId]" [routerLink]="['/downloadManagers', downloadManager.downloadManagerId]">
        <md-icon md-list-avatar [ngClass]="{'active': isActive(downloadManager) }" [mdTooltip]="'Status : ' + downloadManager.status" mdTooltipPosition="above">cloud_download</md-icon>
        <h3 md-line>{{downloadManager.downloadManagerFriendlyName}}</h3>
        <p md-line>
            <span>IP : {{downloadManager.ipAddress}}</span>
            <span class="last-access">- last access : {{getLastAccess(downloadManager.lastAccessDate)}}</span>
        </p>
    </a>
    <button class="nav-btn" color="accent" md-icon-button (click)="formAdd=true;" title="Register a new download manager"><md-icon>add</md-icon></button>
</md-nav-list>
<div *ngIf="formAdd" style="margin-top:10px;">
    <form [formGroup]="registerForm" (submit)="onSubmit(registerForm)">
        <md-card>
            <md-card-title>Register a new download manager</md-card-title>
            <md-card-content>
                <md-input-container class="full-width">
                    <input type="text" formControlName="downloadManagerFriendlyName" mdInput placeholder="Name" required>
                    <md-hint style="color:red" *ngIf="!downloadManagerFriendlyName.pristine && downloadManagerFriendlyName.hasError('required')">Name is required.</md-hint>
                </md-input-container>
            </md-card-content>
            <md-card-actions><button md-raised-button color="primary" class="full-width" [disabled]="!registerForm.valid">Register</button></md-card-actions>
        </md-card>
    </form>
    <button class="nav-btn" md-icon-button color="accent" (click)="formAdd=false;" title="Close this form without saving"><md-icon>close</md-icon></button>
</div>